body{
	position: relative;
}
.inside{
	display: block;
	width: 40px;
	height: 40px;
	border: 1px solid #040a2b;
	position: relative;
	top: -100px;
}
.clear{
	overflow: hidden;
}
.more_left{
	float: left;
	top: 0px;
	left: -230px;
	border: none;
	
	overflow: hidden;
}
.more_right{
	float: right;
	position: relative;
	top: -700px;
	left: 0px;
}
.more_right h3{
	font-size: 50px;
	font-family: "宋体";
	color: #040a2b;
}
.more_right h4{
	font-size: 36px;
	color: #040a2b;
}
.moreadd{
	margin-top: 5px;
	margin-bottom: 20px;
	color: #040a2b;
}
.stars{
	width: 12px;
    height: 10px;
    display: inline-block;
    background: url('../images/star.png');
}
.star1{
	width: 30px;
	height: 30px;
	display: inline-block;
    background: url('../images/star1.png');
    margin-bottom: 10px;
}
.star2{
    background: url('../images/star11.png');
}
.more_right a.more{
	color: #040a2b;
	font-size: 14px;
	text-decoration: underline;
	font-weight: bold;
}
.price .btns{
	color: #040a2b;
	font-weight: bold;
	width: 300px;
	line-height: 25px;
	border-radius: 0;
	border-color: #000;
	font-size: 12px;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	outline: none;
}
.price .caret{
	float: right;
	position: relative;
	top: 10px;
}
.price ul{
	width: 300px;
	border-color: #000;
	border-radius: 0;
	padding-left: 12px;
}
.price ul li{
	font-size: 12px;
	line-height: 34px;
}
.number .btns{
	line-height: 25px;
	border-color: #000;
	border-radius: 0;
	font-size: 12px;
} 
.number ul.counter{
	min-width: 68px;
	border-color: #000;
	border-radius: 0;
	font-size: 12px;
	padding-left: 12px;
}
.number ul li{
	line-height: 22px;
}
.item,.buy{
	background-color: #040a2b;
	color: #fff;
	font-size: 12px;
	line-height: 35px;
	border: none;
	position: relative;
	top: 0px;
}
.item{
	width: 130px;
}
.buy{
	width: 100px;
}
.number a{
	color: #040a2b;
	margin-top: 20px;
	position: relative;
	text-decoration: underline;
	left: 15px;
	top: 20px;
}
.product{
	width: 60%;
	position: relative;
	left: 300px;
	top: 0px;
}
.product .pro_left{
	width: 60%;
	font-size: 15px;
}
.product h4{
	width: 100%;
	border-bottom: 1px solid #bbb;
}
.pro_left b{
	width: 20%;
}
.pro_right{
	width: 25%;
	float: right;
	position: relative;
	top: -460px;
	font-size: 12px;
}
.pro_right h5{
	font-weight: bold;
}
.comment{
	background-color: #f6f6f6;
	position: relative;
	top: -150px;
}
.middle{
	width: 800px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
.middle h3{
	width: 100%;
	font-size: 40px;
	line-height: 60px;
	text-align: center;
	border-bottom: 1px solid #aaa;
}
.star{
	background-color: #f6f6f6;
	border: none;
	margin-top: 30px;
}
.score{
	border-bottom: 1px solid #aaa;
}
.score ol{
	width: 220px;
	padding-left: 0px;
}
.score ol span{
	position: relative;
	top: 14px;
	left: -50px;
}
.score ol span:nth-of-type(1){
	position: relative;
	top: 14px;
	left: 5px;
}
.score ol b{
	position: relative;
	top: -33px;
	left: 200px;
	font-weight: normal;
}
.score ol li{
	width: 143px;
	height: 27px;
	background-color: #ebeaef;
	margin-left: 38px;
	margin-top: -10px;
}
.score ol li:nth-of-type(1) i{
	width: 100px;
	height: 27px;
	display: inline-block;
	background-color: #040a2b;
	border-radius: 5%;
}
.score ol li:nth-of-type(2) i{
	width: 50px;
	height: 27px;
	display: inline-block;
	background-color: #040a2b;
	border-radius: 5%;
}
.star dl{
	text-align: center;
}
.star dl dd{
	color: #999;
	font-size: 14px;
	margin-top: 20px;
}
.s ul{
	padding-left: 0px;
}
.star ul li:nth-of-type(2){
	font-size: 40px;
}
.star ul li:nth-of-type(2)::after{
	content: '  满分 5';
	font-size: 40px;
	color: #bbb;
}
.star ul li:nth-of-type(3) span{
	font-size: 12px;
	font-weight: bold;
	color: #040a2b;
}
.star ul li:nth-of-type(4) a{
	width: 85px;
	height: 34px;
	display: inline-block;
	color: #fff;
	text-align: center;
	line-height: 34px;
	background-color: #040a2b;
	position: relative;
	top: 30px;
	left: 50px;
}
.discover_more{
	width: 820px;
	margin: 0 auto;
	margin-bottom: 150px;
}
.discover_more h3{
	text-align: center;
	font-size: 70px;
	font-family: '宋体';
	font-style: normal;
	margin-bottom: 20px;
}
.th{
	text-align: center;
	border: none;
}
.th a{
	color: #040a2b;
}
.th h4{
	font-size: 22px;
}
.th h5{
	font-size: 16px;
}
.th p.price{
	font-weight: bold;
	font-size: 14px;
	color: #040a2b;
}
.th  .a{
	width: 85px;
	height: 34px;
	display: inline-block;
	color: #fff;
	text-align: center;
	line-height: 34px;
	color: #040a2b;
	border: 1px solid #040a2b;
	margin-top: 20px;
}
.fixed_right span{
	width: 60px;
	height: 60px;
	text-align: center;
	position: fixed;
	font-size: 18px;
	bottom: 220px;
	right: 120px;
	opacity: 0;
	color: #000;
	background: url('../images/icon.png');
	background-position: -5px -309px;
}
.small_window{
	width: 20%;
	position: fixed;
	bottom: 43px;
	right: 90px;
	padding: 20px;
	opacity: 0;
}
.small_window img{
	height: 84px;
	float: left;
	padding: 5px;
}
.small_window .text{
	position: relative;
	top: -10px;
	left: 10px;
}
.text a:nth-of-type(1){
	color: #000;
}
.text a:hover{
	text-decoration: none;
}
.text a:nth-of-type(1) h5{
	margin: 5px 0 0;
}
.text a:nth-of-type(1) h6{
	margin: 3px 0;
}
.text p{
	font-size: 12px;
}
.text a:nth-of-type(2){
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #040a2b;
	position: relative;
	top: 15px;
	left: -9px;
}
.fix_left{
	width: 206px;
	position: fixed;
	top: 290px;
	left: 81px;
	z-index: 10;
	overflow: hidden;
}
.fix_left ul{
	width: 70%;
	border: 1px solid #bbb;
	border-left: 1px solid #fff;
	padding-left: 0px;
}
.fix_left ul li{
	width: 100%;
	text-align: center;
	padding: 18px 0;
}
.fix_left ul li:nth-of-type(2){
	background-color: #eaebf0;
}
.fix_left span{
	display: inline-block;
	width: 56px;
	height: 56px;
	background: url('../images/icon.png');
	background-position: 0 -8269px;
	float: right;
	position: relative;
	top: -95px;
	left: -6px;
}