@media (max-width: 768px){
	.small_window{
		display: none;
	}
	.fix_left{
		display: none;
	}
	.discover_more{
		width: 100vw;
		margin-bottom: 50px;
	}
	.content{
		width: 100vw;
		top: 50px;
	}
	.more_left{
		top: 50px;
		left: -80px;
	}
	.more_left img{
		width: 40vw;
	}
	.more_left .inside{
		top: -50px;
		width: 40px;
		height: 40px;
	}
	.product{
		width: 100vw;
	}
}