@media (max-width: 767px){
	body{
		overflow-x: hidden;
		position: relative;
	}
	html{
		overflow-x: hidden;
	}
	.ljm_nav .logotitle{
		left: 97px;
	}
	.login_nav .logo{
		left: -160px;
	}
	.small_window{
		display: none;
	}
	.fix_left{
		display: none;
	}
	.discover_more{
		width: 100vw;
		margin-bottom: 50px;
	}
	.content{
		width: 100vw;
		top: 50px;
	}
	.clear{
		height: 252vw;
	}
	.more_left{
		top: 50px;
		left: 0px;
	}
	.more_left img{
		width: 100vw;
	}
	.more_left .inside{
		top: -50px;
		width: 40px;
		height: 40px;
	}
	.more_right{
		top: 10px;
		left: -28%;
	}
	.more_right h3{
		font-size: 25px;
	}
	.more_right h4{
		font-size: 22px;
	}
	.price .btns{
		width: 200px;
		position: relative;
		left: 0px;
	}
	.price ul{
		width: 200px;
		top: 50px;
	}
	.item{
		width: 90px;
	}
	.buy{
		width: 70px;
	}
	.product{
		width: 100vw;
		top: 0px;
		left: 15px;
	}
	.product .pro_left{
		font-size: 12px;
	}
	.comment{
		top: 30px;
	}
	.middle{
		width: 100vw;
	}
	.score ol {
	   margin-left: 25%;
	}
	.score ol b{
		display: inline-block;
	}
	.star dl dd{
		display: inline-block;
	}
	.s ul{
		text-align: center;
	}
	.star ul li:nth-of-type(4) a{
		position: relative;
		left: 0%;
	}
	.discover_more{
		margin-top: 100px;
	}
	.discover_more h3{
		font-size: 30px;
	} 
}
@media (min-width: 768px) and (max-width: 991px){
	body{
		overflow-x: hidden;
		position: relative;
	}
	html{
		overflow-x: hidden;
	}
	.con_img{
		overflow: hidden;
	}
	.clear{
		height: 600px;
	}
	.more_left{
		left: -200px;
	}
	.more_right{
		top: -470px;
		left: 0%;
	}
	.price ul{
		top: 50px;
	}
	.more_left img{
		width: 40vw;
	}
	.more_left .inside{
		top: -60px;
		width: 40px;
		height: 40px;
	}
	.discover_more h3{
		font-size: 70px;
	}
	.score ol {
	   margin-left: 0%;
	}
	.product {
	    width: 100%;
	    position: relative;
	    left: 50px;
	    top: -100px;
	}
	.pro_left b {
	    width: 22%;
	}
	.discover_more{
		width: 100vw;
	}
	.th{
		height: 650px;
	}
	.fix_left {
	    width: 206px;
	    position: fixed;
	    top: 290px;
	    left: 11px;
	    z-index: 10;
	    overflow: hidden;
	}
	.small_window {
	    width: 33%;
	    position: fixed;
	    bottom: 43px;
	    right: 30px;
	    padding: 20px;
	    opacity: 0;
	}
}
@media (min-width: 992px) and (max-width: 1200px){
	.more_right{
		top: -680px;
		left: 0%;
	}
	.product{
		width: 100vw;
		left: 50px;
	}
	.small_window {
	    width: 28%;
	    right: 10px;
	}
}